*{
    margin: 0;
    padding: 0;
}

.nav-two i:hover{
    color: grey;
}

.main-banner{
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.banner-img{
    background-image: url(mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.banner1{
    background-image: url(banner3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.banner-img2{
    background-image: url(Jewelry\ as\ Unique\ as\ You\ Are.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
